.fondo {
    background-color: red;
}

.miTexto {
    font-size: 80px;
    color: green;
}

div {
    background-color: white;
}

span {
    background-color: black;
    color: white;
}

hr{
    height: 50px;
    border: none;
}